body{
    background-image: url(office2.jfif);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.login-form{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background:moccasin;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
.form input{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: 10;
    background: white;
    width: 100%;
    border: white;
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 20px;
}
.form button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform:capitalize;
    outline: darkgoldenrod;
    background:white;
    border: sandybrown;

   cursor: pointer;
}
.form button:hover, .form button:active{
    background: white;
}
.form.message{
    margin: 15px;
    color: slateblue;
    font-size: 12px;
}
.form.message a{
    color:slateblue;
    text-decoration: none;
}
.form.register-form{
    display: none;
}